@import url(http://fonts.googleapis.com/css?family=Rock+Salt);

body {
	border-top: 0.25em solid #7A1624;
	padding: 1em 0;
}

/* header */
#main-nav ul {
	float: right;
	overflow: auto;
	margin-top: 3em;
}

#main-nav li {
	list-style-type: none;
	float: left;
	margin: 0 1em;
}

#main-nav li a {
	display: block;
	padding: 0.5em 1em;
	font-weight: bold;
	text-decoration: none;
	color:#7A1624;
}

#main-nav li a:hover, #main-nav li.active a {
	background-color: #FBE9EC;
	color: #561019;
	border-radius: 0.5em;
}

#logo a {
	font-family: 'Rock Salt', cursive;
	color: #000;
}

header {
	margin-bottom: 2em;
}

footer > div {
	background-color: #35A844;
	color: #FFF;
	border-radius: 0.5em;
}

footer > div > div {
	padding: 1em;
}

.hero-unit h1 {
	text-shadow: 4px 4px 0 #FFF;
	color: #561019;
}

.hero-unit h3 {
	color: #35A844;
}

.right {
	float:right;
}