@import url(http://fonts.googleapis.com/css?family=Rock+Salt);

body {
	border-top: 0.25em solid #7A1624;
	padding: 1em 0;
	color: #333;
}

#logo img {
	width:50%;
	height:auto;
}

/* header */
#main-nav ul {
	float: right;
	overflow: auto;
	margin-top: 3em;
}

#main-nav li {
	list-style-type: none;
	float: left;
	margin: 0 1em;
}

#main-nav li a {
	display: block;
	padding: 0.5em 1em;
	font-weight: bold;
	text-decoration: none;
	color:#7A1624;
}

#main-nav li a:hover, #main-nav li.active a {
	background-color: #FBE9EC;
	color: #561019;
	border-radius: 0.5em;
}

#logo a {
	font-family: 'Rock Salt', cursive;
	color: #000;
}

header {
	margin-bottom: 2em;
}

footer > div {
	background-color: #D7D7D7;
	border-radius: 0.5em;
}

footer > div > div {
	padding: 1em;
	text-align:right;
}

.hero-unit h1 {
	text-shadow: 4px 4px 0 #FFF;
	color: #561019;
}

.hero-unit h3 {
	color: #35A844;
}

.right {
	float:right;
}

.green {
	color: #35A844;
}

#holder {
    height: 400px;
    margin: 0;
    width: 400px;
}

#copy {
    bottom: 0;
    font: 300 .7em "Helvetica Neue", Helvetica, "Arial Unicode MS", Arial, sans-serif;
    position: absolute;
    right: 1em;
    text-align: right;
}
#copy a {
    color: #fff;
}

#in-beeta {
	position:fixed;
	top:0;
	right:0;
}

#juicer {
	background-image: url("../images/juicer.png");
	background-repeat: no-repeat;
	background-position: right;
}

.price {
	font-size:2em;
	font-weight: bold;
	color: #35A844;
	margin-bottom:1em;
}


#pricing {
	margin-bottom:1em;
}

#pricing > div {
	text-align:center;
	padding: 1em 0;
}

#pricing > div:first-child{
	background-color:#DBD2C2;
}

#pricing > div:nth-child(2){
	background-color:#DBDBDB;
}

#pricing > div:last-child{
	background-color:#EFCDA9;
}