{% extends doc.html %}

{% block content %}
<h1>About Us</h1>

<h3>We are DebtBeet and we make collecting debt easy.</h3>

<p>Veggies sunt bona vobis, proinde vos postulo esse magis bok choy nori broccoli
	prairie turnip chicory brussels sprout wattle seed avocado.</p>

<p>Bitterleaf turnip plantain dandelion parsnip corn green bean beet greens
	catsear cucumber broccoli rabe tigernut burdock cress summer purslane
	asparagus. Water chestnut caulie desert raisin garlic kakadu plum bitterleaf
	amaranth dulse water chestnut water spinach rutabaga tomato. Summer purslane
	parsley maize lotus root nori sorrel eggplant lentil horseradish lettuce
	aubergine kombu mustard beetroot earthnut pea sea lettuce salad.</p>

<p>Welsh onion cress collard greens water chestnut leek avocado gumbo lettuce
	wakame rutabaga brussels sprout bunya nuts water spinach radicchio soybean
	silver beet bush tomato. Grape pea bok choy kombu rutabaga garlic watercress.
	Corn sweet pepper cabbage wakame parsley broccoli chickweed fava bean lettuce
	mustard okra. Spinach cress pea sprouts okra burdock chicory peanut gumbo
	sorrel dulse kohlrabi bok choy turnip greens green bean nori shallot bitterleaf.
	Radicchio earthnut pea gram garbanzo komatsuna turnip greens quandong plantain
	scallion eggplant taro chickpea arugula broccoli rabe collard greens bok choy
	peanut lentil.</p>
{% end %}


