{% extends doc.html %}

{% block content %}
<div class="hero-unit" id="juicer">
	<h1>Don't Beet A Debt Horse</h1>
	<h3>We'll do that for you!</h3>
	<p style="margin-top:2em">
		<a href="/signup" class="btn btn-inverse btn-large">Sign Up</a>
	</p>
</div>

<h2>Pricing <small>You can change plans or cancel at any time</em></h2>

<div class="row" id="pricing">
	<div class="span4">
		<h2>Raw</h2>
		<div class="price">$0/month</div>
		<p>Collect 1 payment per month</p>
	</div>
	<div class="span4">
		<h2>Boiled</h2>
		<div class="price">$9.99/month</div>
		<p>Collect 5 payments per month</p>
	</div>
	<div class="span4">
		<h2>Juiced</h2>
		<div class="price">$29.99/month</div>
		<p>Collect unlimited payments per month</p>
	</div>
</div>
{% end %}