{% extends doc.html %}

{% block content %}
<h1>Hi Warren Beety</h1>

<div class="row">
	<div class="span6">
		<form action="" id="beets" style="margin-top:4em;">
			<div class="colorbox">
			<input placeholder="email" type="text" class="email" id="email1" value="durian@gmail.com">
			<input placeholder="amount" type="text" class="amount" id="input1" value="23.99" />
			</div>

			<div class="colorbox">
			<input placeholder="email" type="text" class="email" id="email2" value="beeterjones@pearachute.com">
			<input placeholder="amount" type="text" class="amount" id="input2" value="217" />
			</div>

			<div class="colorbox">
			<input placeholder="email" type="text" class="email" id="email3" value="beetlejuice@yahoo.com">
			<input placeholder="amount" type="text" class="amount" id="input3" value="40" />
			</div>

			<div class="colorbox">
			<input placeholder="email" type="text" class="email" id="email4" value="dre@beets.com">
			<input placeholder="amount" type="text" class="amount" id="input4" value="17.84" />
			</div>

			<div class="colorbox" style="margin-bottom:2em;">
			<input placeholder="email" type="text" class="email" id="email5" value="beethoven@hotmail.com">
			<input placeholder="amount" type="text" class="amount" id="input5" value="120" />
			</div>

			<button id="button" class="btn btn-large btn-inverse">Go</button>
		</form>
	</div>
	<div class="span6">
		<div id="holder"></div>
	</div>
</div>


{% end %}

