{% extends doc.html %}

{% block content %}

		<div class="row" id="content">
            <div class="span12" id="main-content">
				<form id="beets" style="float:left;">
					<input placeholder="email" type="text" class="email" id="email1" value="durian@gmail.com">
                    <input placeholder="amount" type="text" class="amount" id="input1" value="23.99" />
                    <br />

					<input placeholder="email" type="text" class="email" id="email2" value="beeterjones@pearachute.com">
					<input placeholder="amount" type="text" class="amount" id="input2" value="217" />
                    <br />

					<input placeholder="email" type="text" class="email" id="email3" value="beetlejuice@yahoo.com">
					<input placeholder="amount" type="text" class="amount" id="input3" value="40" />
                    <br />

					<input placeholder="email" type="text" class="email" id="email4" value="dre@beets.com">
					<input placeholder="amount" type="text" class="amount" id="input4" value="17.84" />
                    <br />

					<input placeholder="email" type="text" class="email" id="email5" value="beethoven@hotmail.com">
					<input placeholder="amount" type="text" class="amount" id="input5" value="120" />
                    <br />

					<button id="button">Go</button>
				</form>
				<div id="holder" style="float:right;"></div>
            </div>
        </div>

{% end %}

